
*.png
*.mat
*.gif
*.npy
*.npz
report/Report_Zhongrui_0126_QG_LangrangeDA.pdf
*.pdf
refers/LDA_notes.pdf
refers/LDA_notes.pdf
*.pyc
code/.ipynb_checkpoints/Lagrange_tracer-checkpoint.ipynb
code/.ipynb_checkpoints/Lagrangian_DA-checkpoint.ipynb
code/.ipynb_checkpoints/LSM-checkpoint.ipynb
code/.ipynb_checkpoints/LSM-Copy1-checkpoint.ipynb
code/.ipynb_checkpoints/LSM_K16-checkpoint.ipynb
code/.ipynb_checkpoints/qg_2layer_topo-checkpoint.ipynb
code/qg_2layer_topo/.ipynb_checkpoints/pyqg-checkpoint.ipynb
code/qg_2layer_topo/.ipynb_checkpoints/qg_2layer_topo-checkpoint.ipynb
/code/.ipynb_checkpoints
/code/.ipynb_checkpoints
/code/.ipynb_checkpoints
/code/.ipynb_checkpoints
/code/.ipynb_checkpoints
/code/.ipynb_checkpoints
code/.ipynb_checkpoints/Lagrangian_DA_clean-checkpoint.ipynb
code/.ipynb_checkpoints/Lagrangian_DA_clean-checkpoint.ipynb
.DS_Store
code/.DS_Store
code/Lagrangian_DA_old.ipynb
code/test.m
/code/.ipynb_checkpoints
code/.ipynb_checkpoints/Lagrangian_DA_clean-checkpoint.ipynb
.DS_Store
code/.DS_Store
code/Lagrangian_DA/qg.log
.DS_Store
code/.DS_Store
code/qg_2layer_topo/new topo/topo3/qg.log
code/qg_2layer_topo/qg.log
code/.DS_Store
code/.DS_Store
.DS_Store
code/cgda_ens.py
code/python.log
code/lsmda.py
code/lsmdaL16.py
code/lsmdaL16b111.py
code/lsmdaL64.py
code/lsmdaL64b111.py
code/Lagrangian_DA/python.log
code/lsmdaL256.py
code/lsmdaL256b111.py
data/lsmda16.log
code/cgda_ensb111L64.py
code/cgda_ensb22L64.py
code/lsmdaL64b22.py
/paper_AMS
code/cgda_ensb22L256.py
code/cgda_ens128b22L64.py
code/cgda_ens128b22L64_2.py
code/cgda_ens8b22L64.py
code/cgda_ensb22L16.py
code/cgdaens128L64b22.log
code/cgdaens8L64b22.log
code/lsmdaL64b22_corr.py
/aguposter
*.pages
*.pages
code/Lagrangian_DA/nongaussian.pages
*.pages
*.pages
